
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.mob-menu {
    display: none;
}
.mobile-f-link{
    display: none;
}
.mob-topbar{
    display: none;
}

/* Header */
.web-logo{
    width: 70px;
}
.header-main nav.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
}
h2{
    color: #555555;
}
.home-menu .nav-link{
    color:#8b8989;
    padding: 0;
}
.home-menu {
    float: right;
}
.header-main  .menu-right-icons .fa{
    color: #333333;
}
.header-main  .mr-auto.navbar-nav {
    margin-left: 38%;
}
.header-main  .brand-name {
    text-align: center;
}
.header-main .nav-link:hover {
    text-decoration: none;
    color: #000;
}
.menu-right-icons{
    cursor: pointer;
}
.cart-div{
    display: none;
}
.cart-main:hover + .cart-div {
    display: block;
}
/* Header */

/* Banner img */
.img-wrap{
    position: relative;
    overflow: hidden;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../src/images/banner_img.jpg);
    background-position: center center;
 background-size: cover;
 height: 100%;
 width: 100%;
 padding: 60px 0 100px 0;
}

/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ea9670a8;
    opacity: 0.5;
    width: 100%;
    height: 400px;
} */
/* .img-wrap .banner-inner{
    position: absolute;
    left: 9%;
    top: 20%;
} */
.img-wrap .banner-inner h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.8rem;
}
/* Banner img */

/* Gallery */
.inner-title{
    font-size: 15px;
    color: #717171;
    text-transform: capitalize;
}
.g-btns{
    text-align: right;
}
.g-btns .web-buttons {
    box-shadow: 3px 3px 5px 1px #b3aaaa
}
.web-buttons {
    background: #ffffff;
    padding: 17px 13px;
}
.web-buttons a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.collection-btn{
    background: #000000;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 5px;
}
.learn-more-btn{
    background: #fdf9f8;
    color: #000000;
    text-decoration: underline;
    padding: 10px;
    border-radius: 5px;
}
.right-side{
    text-align: right;
}
.gallery-inner .card{
   border: none !important;
}
.gallery-inner p{
    color: #717171;
    font-size: 15px;
    font-weight: 400;
}
.heading-inner{
    font-weight: 500 !important;
}
.gallery-btn a {
    text-align: center;
    border: 1px solid #007bff;
    padding: 8px 17px;
}
.gallery-btn a:hover{
    border:1px solid #292929;
    color: #292929;
}
.g-img{
    border-radius: 4px;
}
/* Gallery */

/* Count Down*/
.counter-main{
 background: url(../src/images/counter-bg.jpg);
 background-position: center center;
 background-size: cover;
 width: 100%;
 height: 100%;
}
.counter-main h2 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 300;
}
.counter-main .gallery-btn a {
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 8px 17px;
}
.counter-main h6{
    color: #ffffff;
}
.counter-main span.count {
    background: none !important;
    color: #fff !important;
    padding-right: 30px;
}
.counter-main ul li{
    display: inline-block;
    color: #ffffff;
}
.countdown-main {
    width: 315px;
    border: 1px solid #ffffff;
    padding: 10px 0 10px 20px;
}
/* Count Down*/

/* Guest Editor */
.guest-editor{
    background: url(../src/images/editor-bg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 550px;
}
.inner-content h3{
    font-size: 50px;
    color: #ffffff;
}
.inner-content .gallery-btn a{
    color: #ffffff;
    border: 1px solid #ffffff;
}
/* Guest Editor */

/* 3d-art-sec */
.art-sec {
 background: url(../src/images/3d-bg.jpg);
 background-position: center center;
 background-size: cover;
 width: 100%;
 height: 600px;
}
/* 3d-art-sec */

/* new-release */
.new-release{
    background: url(../src/images/release-bg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;  
}
/* new-release */

/* .join-community */
.join-community .gallery-btn a{
    color: #212529;
    border: 1px solid #212529;
}
.join-community .gallery-btn a:hover{
    background:#212529 ;
    color: #ffffff;
    border: 1px solid #ffffff;
}
/* Become Artist */
.become-artist{
    background:#200b2c;
    color: #ffffff;
}
.become-artist .gallery-btn a{
    color: #ffffff;
    border: 1px solid #ffffff;
}
.become-artist .gallery-btn a:hover{
    background:#ffffff ;
    color: #212529;
    border: 1px solid #212529;
}

/* Become Artist */

/* spot-light */
.spot-light{
    background: url(../src/images/spot-light.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 500px; 
}
     
/* spot-light */


 /* Coupen */
 .news-letter-main {
    text-align: center;
    background: #292929;
}
.news-letter-main h6{
    color: #ffffff;
}
 .discount-coupen {
     background: #292929;
}
.discount-coupen  .subs-form p {
    font-size: 10px;
    line-height: 19px;
}
.form-inner{
    position: relative;
}
.form-btn .btn-primary{
position: absolute;
right: 0;
background: #fff !important;
color: #495057!important;
border: none;
border-left: 1px solid #ccc;
border-radius: 0 !important;
padding: 11px 9px;
}
.form-control {
    padding: 1.375rem .75rem !important;
    border-radius: 0 !important;
}
.form-inner h6{
    color: #ffffff;
}
/* Coupen */


/* Footer */
.footer-main {
    text-align: center;
}
.footer-main ul li {
    line-height: 28px;
    display: inline-block;
}

.footer-img {
    width: 50px;
}
.footer-main{
    background: #ffffff;   
}

.footer-links h4{
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
}
.footer-links li a{
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}
.footer-main a{
    color: #333333;
}
/* footer content */
.footer-social-links li{
    display: inline-block;
}
/* copy-right */
.copy-rigt{
    background: #333333;
}
.copy-rigt p {
    color: #777777;
    text-align: center;
}

/* copy-right */
/* Footer */

/* ..........Mobile Quries............ */

@media only screen and (max-width: 1200px) {
    /* .img-wrap .banner-inner {
        text-align: center;
    } */
}

@media only screen and (max-width: 991px) {
    .web-menu{
        display: none;
    }    
    .mob-menu{
        display: block;
    }
    .mob-logo{
        width: 80px;
    }
    .navbar-light .navbar-toggler {
        font-size: 30px;
        padding: 0;
        border: none !important;
        margin-top: 18px;
    }   
   
    .img-wrap .banner-inner {
        text-align: center;
    }
    .img-wrap .banner-inner h1 {
        font-size: 25px;
    }
    .web-buttons a {
        font-size: 10px;
    }

    /* mobile menu */
    .home-menu .navbar {
        display: block !important;
    }
    .home-menu .header-main .mr-auto.navbar-nav {
        margin-left: 14% !important;
    }
    .home-menu .navbar-collapse {
        position: absolute;
        align-items: center;
        z-index: 1;
        background: #fff;
        width: 170px;
        right: -13px;
        text-align: left;
    }
    .home-menu .navbar-nav {
        padding: 23px 0 14px 22px;
        box-shadow: 1px 1px 2px 1px #b3aaaa;
    }
    .home-menu nav.navbar.navbar-expand-lg.navbar-light{
        position: relative;
        right: -9px;
    }
    .home-menu .navbar-nav {
        display: block;
    }
    .home-menu a.nav-link {
        font-weight: 600;
        font-size: 21px;
        padding-bottom: 19px !important;
    }
    /* mobile menu */

    /* gallery */
    .g-btns {
        text-align: center;
    }
    .inner-title {
        text-align: center;
        padding: 0 0 34px 0;
    }
    .inner-content{
        text-align: center;
    }
    .inner-content h3 {
        font-size: 32px;
        line-height: 27px;
    }
    .guest-editor {
        height: 350px;
    }
    .art-sec {
        height: 350px;
    }
    .new-release {
        height: 350px;
    }
    .become-artist{
        text-align: center;
    }
    .become-artist h1{
        font-size: 25px;
    }
    .spot-light {
        height: 350px;
    }
    .join-community{
        text-align: center;
    }
    /* gallery */
    .counter-main.pt-5 {
        text-align: center;
    }
    /* .counter-main {
        height: 360px;
    } */
    .counter-main h2 {
        font-size: 30px;
    }
    .countdown-main {
        width: 100%;
        
    }
    .about-nfts{
        text-align: center;
    }
    .about-nfts h1{
        padding-bottom: 10px;
    }
    .become-artist h1{
        padding-bottom: 10px;
    }
    .footer-img {
        width: 116px;
    }
}

    /* ..........Mobile Quries............ */